* {
	margin: 0;
	height: auto;
	box-sizing: border-box;
	padding: 0;
}

#mainIndex {	
	margin: 150px auto;
	width: 600px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

fieldset {
	border: 1px solid grey;
}

fieldset #formIndex {
	padding: 10px;
	border-color: grey;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: auto;
}

fieldset form .entradas {
	margin-bottom: 4px;
	line-height: 25px;
	background-color: rgba(255, 255, 0, 0.3);
	border: 1px solid grey;
	padding: 3px;
}

fieldset form #botaoEnviar {
	line-height: 70px;
	width: 100%;
	background-color: rgb(10, 125, 202);
	border: 1px solid grey;
	color: white;
	font-size: 17px;
}

#mainPanel {
	height: 100vw;
	width: 15%;
}

section {
	height: 100%;
	width: 100%;
	border-right: 1px solid grey;
}

#mainPanel section #formPanel {
	display: flex;
	flex-direction: column;
}

#mainPanel section #formPanel .aPanel {
	text-decoration: none;
	padding: 5px;
	display: flex;
	align-items: center;
	color: black;
}

#mainPanel section #formPanel .aPanel span {
	padding-right: 5px;
}

#headerPanel {
	padding-bottom: 3px;
	border-bottom: 1px solid grey;
}